.example-card {
    width: 800px;
    margin: 20px auto;
}

.example-header-image {
    background-image: url('../../assets/1.jpg');
    background-size: cover;
}

.media{
    text-align: center;
}

.mat-card-image{
    margin-bottom: 0;
    width: 100% !important;
}

.mat-card-content{
    margin-top: 16px;
}

.text{
    line-height: 1.3;
    color: #555;
}
